

p {
  font-family: Lato;
}

.container-total{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #08022B;
  border-radius: 15px;
}

.card-container{
  display: flex;
  align-items: center;
  width: 600px;
  height: auto;
  background-color: #E8C9E6;
  border-radius: 15px;
}

img{
 border-radius: 120px; 
 padding: 15px;
}

.card-texto{
  padding: 25px;
  background-color: #B9ABC9;

}